*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background: linear-gradient(to right,black,black,darkblue,maroon,black,black);
    padding: 20px 0;
}
body.lightPlayer{
    background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
}
button{
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid gold;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    text-shadow: 1px 1px 1px lightseagreen;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}
button:active{
    background: lightseagreen;   
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 2px;
    margin-bottom: 20px;
    margin-top: -40px;
}
#calcualtor{
    margin: 0% auto;
    border: 6px solid rgba(139, 0, 58, 0.664);
    box-shadow: 0px 2px 20px lightskyblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 50px;
    width: 370px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px; 
    margin-bottom: 40px;
    transition: 1s;
}
body.lightPlayer #calcualtor{
    box-shadow: 0px 2px 20px yellowgreen;
}
#display{
    margin: 0% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px gold;
    margin-top: 2%;
    width: 100%;
    padding: 5px;
    font-size: 3rem;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.534);
    border: 1px solid gold;
    border-radius: 10px;
}
.operator-btn{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: orange;
}
.operator-btn:active{
    background-color: lightseagreen;
}
.operators1{
    background-color: orange;
    display: flex;
    font-size: 30px;
    justify-content: center;
    
}
.calculateBtn{
    background-color: darkblue;
}
h1{
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 4px darkblue;
    margin: 0%;
    font-size: 50px;
}
body.lightPlayer h1{
    color: white;
    text-shadow: 2px 2px 4px gold;
}
h1 ion-icon{
    color: rgba(255, 217, 0, 0.603);
    background-image: url(lollipop_3GIF.gif);
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid gold;
    box-shadow: 0px 3px 6px blue;
    border-radius: 15px;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
body.lightPlayer h1 ion-icon{
    color: rgba(221, 43, 78, 0.61);
    border-bottom: 2px solid rgba(153, 205, 50, 0.788);
    box-shadow: 0px 3px 6px lightcoral;

}
h2{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h2 ion-icon{
    color: rgba(255, 217, 0, 0.582);
    background-color: rgba(0, 0, 0, 0.473);
    padding: 5px;
    border-radius: 10px;
}
h3{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 217, 0, 0.582);
    text-shadow: 1px 1px 1px black;
}
h3 ion-icon{
    color: rgba(155, 137, 37, 0.774);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.514);
    padding-bottom: 3px;
    border-radius: 50px;
}

footer{
    margin: 0% auto;
    flex-direction: column;
    bottom: 0%;
    left: 0;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 5px;
    color: rgb(48, 47, 47);
  
     }
     footer p{
      width: 200px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.062);
      padding: 5px;
      border-radius: 20px;
     }
     footer ion-icon{
      color: rgba(255, 217, 0, 0.411);
     }
  
     .homebtn{
      margin: 0% auto;
      position: fixed;
      left: 5px;
      bottom: 0px;
      border-bottom: 1px solid gold;
      box-shadow: 0px 2px 6px blue;
      background-image: url(MusicGig.gif);
      background-position: center;
      background-size: 100%;
      border-radius: 7px;
      width: 50px;
      display: flex;
      justify-content: center;
      padding: 2px 0px;
      opacity: 80%;
      margin-bottom: 5px;
      cursor: pointer;
    
    }
    .homebtn ion-icon{
      margin: 0% auto;
      color: rgba(255, 217, 0, 0.568);
      justify-content: center;
      font-size: 25px;
      display: flex;
      align-items: center;
      
    }
    .homebtn ion-icon:hover{
      color: gold;
    }
    .homebtn:hover{
      color: gold;
      transition: color 0.5s ease;
      box-shadow: 2px 2px 20px gold;
      transform: scale(1.10);
      transition: 0.5s;
      cursor: pointer;
    
    }


.Voice-Btn{
   position: relative;
   bottom: 60px; 
   left: 140px;
   border-radius: 10px;
   border: none;
   border-bottom: 2px solid blue;
   background-color: transparent;
   box-shadow: 0px 2px 5px lightskyblue;
   opacity: 80%;
}
body.lightPlayer .Voice-Btn{
    border-bottom: 2px solid rgba(153, 205, 50, 0.842); 
    box-shadow: 0px 2px 5px yellowgreen;
}
#languageSelect{
    padding: 5px;
    margin-top: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.082);
    color: white;
    text-shadow: 2px 2px 2px darkblue;
    border-top: 3px solid rgba(0, 0, 255, 0.637);
    border-radius: 8px;
    cursor: pointer;
}
body.lightPlayer #languageSelect{
    border-top: 3px solid yellowgreen;
}

#languageSelect option{
    background-color: rgba(0, 0, 139, 0.753);
  
}
@media (min-width: 768px){
    #calcualtor{
        width: 600px;
    }
    .Voice-Btn{
        position: relative;
        bottom: 60px; 
        left: 255px;
        border-radius: 10px; 
     }

}