*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
}
button{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    text-shadow: 1px 1px 1px lightseagreen;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 40px;
}
button:active{
    background: lightseagreen;   
}
label{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
#keys{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
}
#calcualtor{
    border: 6px solid darkblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
    border-radius: 50px;
    height: 580px;
    margin-top: 5px;
    
  
}
#display{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px gold;
    margin-top: 2%;
    width: 350px;
    padding: 5px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: rgba(0, 0, 0, 0.534);
    border: 1px solid gold;
    border-radius: 10px;
}
.operator-btn{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.897);
}
.operator-btn:active{
    background-color: lightseagreen;
}
h1{
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 4px gold;
    margin: 0%;
    font-size: 50px;
}
h1 ion-icon{
    color: rgba(255, 217, 0, 0.603);
    background-image: url(lollipop_3GIF.gif);
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid gold;
    box-shadow: 2px 2px 10px blue;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h2 ion-icon{
    color: rgba(255, 217, 0, 0.582);
    background-color: rgba(0, 0, 0, 0.473);
    padding: 5px;
    border-radius: 10px;
}
h3{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 217, 0, 0.582);
    text-shadow: 1px 1px 1px black;
}
h3 ion-icon{
    color: rgba(155, 137, 37, 0.774);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.514);
    padding-bottom: 3px;
    border-radius: 50px;
}
.homebtn{
    font-size: 25px;
    background-image: url(MusicGig.gif);
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
    padding: 3px 30px;
    border-top: 1px solid gold;
    box-shadow: 0px 2px 10px blue;
}
.homebtn ion-icon{
    color: rgba(255, 217, 0, 0.623);
    
}
.homebtn ion-icon:hover{
    color: gold;
}
.homebtn:hover{
    border: 2px solid gold;
    box-shadow: 0px 2px 20px gold;
}
